.match-history-modal {
  background: #1b1b1b; /* тёмный фон */
  padding: 20px;
  border-radius: 8px;
  width: 96%;
  max-width: 800px;        /* ограничение по ширине */
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  color: #ccc;             /* чтобы текст был читаем */

   /* Ограничение высоты и скролл */
  max-height: 80vh;
  overflow-y: auto;
}

.match-history-modal h3 {
  margin-top: 0;
  margin-bottom: 15px;
}
