/* === Базовые стили === */
.menu-bar {
  position: sticky;   /* ✅ закрепляем */
  top: 0;             /* фиксируем к верхушке окна */
  background: #fff;   /* белый фон, чтобы перекрывать */
  z-index: 100;       /* поверх таблицы */

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 16px;
  background: #ccff66; /* цвет как у теннисного мяча */
}

.menu-bar a {
  text-decoration: none;
  font-weight: 500;
  color: #333; /* indigo */
}

.nav-right {
  margin-left: auto;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  color: #ccff66;
  align-self: center;
  width: 212px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}

.nav a {
  color: #ccc;
  margin: 0 12px;
  text-decoration: none;
}

.nav a:hover {
  color: #fff;
}

.page-menu {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  align-items: center; /* вертикальное выравнивание по центру */
  max-width: 900px;
  align-items: center;
  margin: 0 auto;
}

.page-menu > :nth-child(1) {
  justify-self: start;  /* влево */
  text-align: left;
}

.page-menu > :nth-child(2) {
  justify-self: center; /* по центру */
  text-align: center;
}

.page-menu > :nth-child(3) {
  justify-self: end;    /* вправо */
  text-align: right;
}


/* === 📱 Мобильная адаптация === */
@media (max-width: 768px) {
  .nav {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
  }

  .page-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .logo {
    width: 40px;
  }
}