
.login-footer {
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-top: 15px;
}

.login-footer a {
  color: #a6ff00;
  text-decoration: none;
}

.login-footer a:hover {
  text-decoration: underline;
}

