.tournament-details {
  margin: 5px;
  line-height: 1.5; 
}
/*
.tournament-details table {
  margin-left: auto;
  margin-right: auto;
}

.tournament-details p {
  margin: 5px 0;
}

.tournament-details table td:nth-child(2) {
  text-align: right;
  white-space: nowrap; 
  padding-right: 10px;  
}

.tournament-details table td:nth-child(1) {
  padding-right: 5px;  
}

.tournament-details table td:nth-child(3) {
  text-align: left;
  white-space: nowrap; 
  padding-right: 8px;  
}
 */
.big-plus {
  font-size: 64px;
  color: #ccff66;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100;
  margin: 0 auto;
}

.bucket {
    color: #fff;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.tournament-card-table {
  width: 100%;
}

.tournament-card-table-body tr {
  display: grid;
  grid-template-columns: 10% 25% 65%;
  margin: 0 auto;
  white-space: nowrap; 
}

.tournament-card-table-body tr > :nth-child(1) {
  justify-self: start;  /* влево */
  text-align: left;
}

.tournament-card-table-body tr > :nth-child(2) {
  justify-self: end; /* по центру */
  text-align: right;
}

.tournament-card-table-body tr > :nth-child(3) {
  justify-self: start;  /* влево */
  text-align: left;
  padding-left: 5px;
}


