.pyramid-player.winner {
  background-color: #d4f8d4; /* зелёный фон */
  border: 2px solid green;
}

.pyramid-player.loser {
  background-color: #f8d4d4; /* красный фон */
  border: 2px solid red;
}

.winner-attacker .status-icon {
  color: green;
  font-weight: bold;
}

.winner-defender .status-icon {
  color: green;
}

.loser-attacker .status-icon {
  color: red;
}

.loser-defender .status-icon {
  color: red;
}

.days-counter {
  position: absolute;
  top: 4px;
  left: 6px;
  font-size: 12px;
  font-weight: bold;
  color: #555;
  background: none;
  padding: 2px 5px;
  border-radius: 4px;
}