/* breadcrumbs.css */
.breadcrumbs {
  padding: 20px;
  margin-bottom: 1rem;
}

.breadcrumbs-list {
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 800px;
  margin: auto;
}

@media (max-width: 768px) {
  .breadcrumbs-list {
    width: 100%;
    grid-auto-flow: row;
    grid-template-columns: none;
  }
}


.breadcrumbs-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: auto;
  text-align: center;
}

.breadcrumbs-link {
  color: var(--green);
  text-decoration: none;
  transition: color 0.2s;
  font-weight: 500;
}

.breadcrumbs-link:hover {
  text-decoration: underline;
}

/* Специфичные стили для иерархии */
.breadcrumbs-item:nth-last-child(2) .breadcrumbs-link {
  font-size: 0.95em;
  opacity: 0.9;
}

.breadcrumbs-item:nth-last-child(3) .breadcrumbs-link {
  font-size: 0.85em;
  opacity: 0.8;
}

.breadcrumbs-item:nth-last-child(4) .breadcrumbs-link {
  font-size: 0.8em;
  opacity: 0.7;
}


