.modal-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--green);
  text-align: center;
}

.modal-submit-btn {
  width: 100%;
  padding: 8px;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background: var(--green);
}

.modal-submit-btn:hover {
  box-shadow: 0 0 10px var(--green);
}

.modal-close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  color: #777;
  font-size: 20px;
  cursor: pointer;
}

.modal-close-btn:hover {
  color: #fff;
}

/* затемнённый фон */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(13, 15, 16, 0.45); /* оставляем фон видимым под затемнением */
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal-content {
  position: relative;
  background: #1b1b1b; /* тёмный фон */
  border-radius: 8px;
  border: 1px solid #1f1f1f;
  padding: 25px 10px 10px 10px;
  max-height: 90vh;
  overflow-y: auto;
  z-index: 2001;         /* чуть выше overlay */
  box-shadow: 0 0 20px rgba(204, 255, 102, 0.5);
}

.modal-base-width {
    width: 400px;
}


.modal-content-login {
    max-width: 400px;
    padding: 20px;
}

.modal-content-match-history {
    width: 900px;
}

@media (max-width: 768px) {
.modal-content-w {
  max-width: 90%;
}
}

/* затемнённый фон */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(13, 15, 16, 0.45); /* оставляем фон видимым под затемнением */
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal-content-match-history {
    width: 900px;
}

@media (max-width: 768px) {
  .modal-content-w {
    max-width: 90%;
  }

  .modal-content {
    width: 95%;
    max-height: 90dvh
  }
}
