.modal-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ccff66;
  text-align: center;
}

.modal-submit-btn {
  width: 100%;
  padding: 8px;
  background: #ccff66;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.modal-submit-btn:hover {
  background: #ccff66;
  box-shadow: 0 0 10px #ccff66;
}

.modal-close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  color: #777;
  font-size: 20px;
  cursor: pointer;
}

.modal-close-btn:hover {
  color: #fff;
}

/* 향햟혝햣햪햫혬햫햫혦햧 혟쮏 */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); /* 游녣 혝혬햪햫혦햧 쮏혞쮏햟혢햫혦햧 혟쮏 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal-content {
  position: relative;
  background: #1b1b1b; /* 혝혬햪햫혦햧 혟쮏 */
  border-radius: 8px;
  border: 1px solid #1f1f1f;
  padding: 20px;
  max-height: 90vh;
  overflow-y: auto;
  z-index: 2001;         /* 혢혞혝혧 쒬혣햣 overlay */
  box-shadow: 0 0 20px rgba(204, 255, 102, 0.5);
}

.modal-base-width {
    width: 400px;
}


.modal-content-login {
    max-width: 400px;
}

.modal-content-match-history {
    width: 900px;
}

@media (max-width: 768px) {
.modal-content-w {
  max-width: 90%;
}
}

/* 향햟혝햣햪햫혬햫햫혦햧 혟쮏 */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); /* 游녣 혝혬햪햫혦햧 쮏혞쮏햟혢햫혦햧 혟쮏 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal-content {
  position: relative;
  background: #1b1b1b; /* 혝혬햪햫혦햧 혟쮏 */
  border-radius: 8px;
  border: 1px solid #1f1f1f;
  padding: 20px;
  max-height: 90vh;
  overflow-y: auto;
  z-index: 2001;         /* 혢혞혝혧 쒬혣햣 overlay */
  box-shadow: 0 0 20px rgba(204, 255, 102, 0.5);
}

.modal-content-match-history {
    width: 900px;
}

@media (max-width: 768px) {
  .modal-content-w {
    max-width: 90%;
  }

  .modal-content {
    width: 90%;
    max-height: 90dvh
  }
}
