.pyramid-player.winner {
  background-color: #d4f8d4; /* зелёный фон */
  border: 2px solid green;
}

.pyramid-player.loser {
  background-color: #f8d4d4; /* красный фон */
  border: 2px solid red;
}

.winner-attacker .status-icon {
  color: green;
  font-weight: bold;
}

.winner-defender .status-icon {
  color: green;
}

.loser-attacker .status-icon {
  color: red;
}

.loser-defender .status-icon {
  color: red;
}

.days-counter {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 12px;
  font-weight: bold;
  color: #555;
  background: none;
  padding: 2px 2px;
  border-radius: 4px;
}



.pyramid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  width: 100%;
  overflow-x: auto; /* добавляем горизонтальный скролл при необходимости */
  padding: 8px 8px; /* чтобы не прилипало к краям */
  box-sizing: border-box;
}

.pyramid-row {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 5px;
  border: 1px solid #ccc; /* рамка для уровня */
  border-radius: 8px;
  margin-bottom: 8px;
  background: #fafafa; /* легкий фон, чтобы выделялось */
  position: relative;
  width:100%;
}

.pyramid-row::before {
  content: attr(data-level); /* берём значение уровня из data-атрибута */
  position: absolute;
  top: -10px;
  left: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #555;
  background: #fff;
  padding: 0 4px;
}

.pyramid-player {
  position: relative;
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  min-width: 95px;
}

.pyramid-player.selected {
  border-color: #0070f3;
  background: #e6f0ff;
}

.player-name {
  font-weight: 600;
  font-size: 14px;
  color: #222;
}

.player-ntrp {
  font-size: 12px;
  color: #666;
  margin-top: 2px;
}

.player-position {
  font-size: 10px;
  color: #666;
  margin-top: 2px;
  text-align: end;
}

.history-btn {
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: 12px;
  padding: 4px 4px;
  border: none;
  border-radius: 4px;
  background: none;
  cursor: pointer;
}

.history-btn:hover {
  background: #005bb5;
}