.players-controls {
  display: grid;
  grid-template-columns: 6fr 3fr auto;
  column-gap: 5px;
}

.ntrp-badge {
  width: 50%;
  margin-top: 3px;
  max-width: 75px;
}

.players-table td:nth-child(n+2),
.players-table th:nth-child(n+2) {
  text-align: center;
}
